* {
	box-sizing: border-box;
}

body {
	background: #298eea;
	font-family: "Roboto", sans-serif;
}

header {
	width: auto;
	height: auto;
}

.logo {
	height: 35px;
	display: block;
	margin: 60px auto 30px auto;
}

.signup-form, .signup-form legend {
	margin-left: auto;
	margin-right: auto;
}

.signup-form {
	width: 400px;
	height: 470px;
	background-color: white;
	border-radius: 3px;
}

.signup-form legend {
	font-weight: lighter;
	color: #565656;
	font-size: 35px;
	padding: 35px 0px 10px 0px;
}

fieldset {
	border: none;
	text-align: center;
}

label {
	display: block;
	text-align: left;
	padding: 20px 0px 15px 25px;
}

input, button {
	width: 320px;
	height: 55px;
	border-radius: 3px;
	padding: 15px;
}

input {
	border: 2px solid #e7e7e7;
	font-size: 17px;
	background: #fcfcfc;
}

button {
	background: #15CD72;
	color: white;
	border: none;
	cursor: pointer;
	margin-top: 20px;
	font-size: 22px;
	text-align: center;
}

button:hover {
	background-color: #12b764;
	-webkit-transition: background 0.1s;
    -moz-transition: background 0.1s;
    -o-transition: background 0.1s;
    transition: background 0.1s;
}

a {
	color: #999;
	padding-bottom: 40px;
	font-size: 15px;
}

.signup-form a:hover {
	color: #777;
}

.footer, .footer a {
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 17px
	margin-bottom: 40px;
}

.footer a:hover {
	color: #E7F1F9
}