body {
	background: #298eea;
	font-family: "Roboto", sans-serif;
}

.logo {
	height: 35px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 60px;
	margin-bottom: 30px;
}

.signup-form {
	width: 400px;
	height: 470px;
	/*display: block;*/
	background-color: white;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
	/*float: none;*/
}

fieldset {
	border: none;
	/*margin-left: 30px;*/
	text-align: center;
}

input, button {
	width: 320px;
	height: 55px;
	border-width: 2px;
	border-radius: 3px;
	border: 2px solid #e7e7e7;
	background: #fcfcfc;
	padding: 15px;
	font-size: 17px;
}

.signup-form legend {
	margin-left: auto;
	margin-right: auto;
	font-weight: lighter;
	color: #565656;
	font-size: 35px;
	padding-top: 35px;
	padding-bottom: 10px;
	/*letter-spacing: 0;*/
}

* {
	box-sizing: border-box;
}

label {
	display: block;
	padding-top: 20px;
	padding-bottom: 15px;
	text-align: left;
	padding-left: 25px;
	/*padding: 15px;*/
}

a {
	color: #999;
	/*text-align: center;*/
	padding-bottom: 40px;
	font-size: 15px;
	/*display: block;*/
}

button {
	background-color: #15CD72;
	color: white;
	font-size: 30px;
	border: none;
	cursor: pointer;
	margin-top: 20px;
	/*margin-left: 30px;*/
	font-size: 22px;
	text-align: center;
	/*margin-left: 15px;*/
	/*vertical-align: middle;*/
}

button:hover {
	background-color: #12b764;
	-webkit-transition: background 0.1s;
    -moz-transition: background 0.1s;
    -o-transition: background 0.1s;
    transition: background 0.1s;
}

.footer, .footer a {
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 17px
}